body{
  font-family: "Avenir Next";
  background-image: url(background_index.jpeg);


  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #ff0000;
}

li{
  list-style: none;
}

*{
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0000ff;
  color: #fff;
  height: 60px;
  width: 100%;
}

.header-logo{
  float: left;
  font-size: 27px;
  padding: 10px 20px;
}

.header-list li {
  float: left;
  padding: 25px 20px;
}

.main{
  width: 100%;
  margin: auto;
  text-align:center;
}

.footer {
  background-color: #0000ff;
  color: #fff;
  height: 100px;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  width: 100%;
}

.footer-logo {
  float: left;
  font-size: 13px;
  padding: 10px 20px;
}
